{% extends 'base.html.twig' %}

{% block title %}{{ "homepage.page_title"|trans|raw }}{% endblock %}

{% block body %}
    <div class="max-w-3xl m-auto">
        <h1 class="py-3 font-bold text-4xl md:text-5xl text-center md:text-left">
            {{ page.title }}
        </h1>

        {% for section in page.sections %}
            <h3 class="text-xl font-semibold text-center md:text-2xl md:text-left">
                {{ section.subtitle }}
            </h3>
            <p>{{ section.content }}</p>
{#            {% if section.image %}#}
{#                <img src="{{ asset('/uploads/pages/' ~ section.image) }}" alt="Section Image">#}
{#            {% endif %}#}
        {% endfor %}

    </div>
{% endblock %}