{% extends 'base.html.twig' %}

{% block title %}{{ page.title ?? "default.page_title"|trans|raw }}{% endblock %}

{% block body %}
    <div class="max-w-3xl m-auto md:p-0 p-2">
        <h1 class="py-3 font-bold text-4xl md:text-5xl text-center md:text-left">
            {{ page.title }}
        </h1>

        {% for section in page.sections %}
            <h3 class="text-xl font-semibold text-center md:text-2xl md:text-left mt-4 mb-2">
                {{ section.subtitle }}
            </h3>
            <div class="text-lg md:text-justify text-left">
                {{ section.content }}
            </div>
            {#            {% if section.image %} #}
            {#                <img src="{{ asset('/uploads/pages/' ~ section.image) }}" alt="Section Image"> #}
            {#            {% endif %} #}
        {% endfor %}

    </div>
{% endblock %}