<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {{ "home_welcome"|trans|raw }}
        {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <div class="header-content">
        <img src="{{ asset('images/yellow.jpeg')}}" alt="Header Image" class="header-image">
    </div>
    <nav class="navbar">
        <div class="logo">{{ "home_title"|trans|raw }}</div>
        <ul class="nav-links">
            <li><a href="{{ path('home') }}">{{ "header_home"|trans|raw }}</a></li>
            <li><a href="{{ path('posts') }}">{{ "header_news"|trans|raw }}</a></li>
            <li><a href="{{ path('about-us') }}">{{ "header_about_us"|trans|raw }}</a></li>
            <li><a href="{{ path('contact') }}">{{ "header_contact_us"|trans|raw }}</a></li>
            {# <li><a href="">{{ "header_login"|trans|raw }}</a></li> #}
        </ul>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    <div class="container">
        <p>&copy; 2025 United Progress Initiative. All Rights Reserved.</p>
    </div>
</footer>

</body>
</html>
